.dark-high-contrast {
  --md-sys-color-primary: rgb(170 255 254);
  --md-sys-color-surface-tint: rgb(128 213 212);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(124 209 208);
  --md-sys-color-on-primary-container: rgb(0 14 14);
  --md-sys-color-secondary: rgb(170 255 255);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(124 208 209);
  --md-sys-color-on-secondary-container: rgb(0 14 14);
  --md-sys-color-tertiary: rgb(232 240 255);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(156 198 249);
  --md-sys-color-on-tertiary-container: rgb(0 12 27);
  --md-sys-color-error: rgb(255 235 241);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(249 172 208);
  --md-sys-color-on-error-container: rgb(31 0 18);
  --md-sys-color-background: rgb(14 21 20);
  --md-sys-color-on-background: rgb(221 228 227);
  --md-sys-color-surface: rgb(14 20 21);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(63 73 73);
  --md-sys-color-on-surface-variant: rgb(255 255 255);
  --md-sys-color-outline: rgb(232 242 241);
  --md-sys-color-outline-variant: rgb(186 197 196);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(222 227 229);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(0 81 81);
  --md-sys-color-primary-fixed: rgb(156 241 240);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(128 213 212);
  --md-sys-color-on-primary-fixed-variant: rgb(0 20 20);
  --md-sys-color-secondary-fixed: rgb(156 241 241);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(128 212 213);
  --md-sys-color-on-secondary-fixed-variant: rgb(0 20 20);
  --md-sys-color-tertiary-fixed: rgb(209 228 255);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(160 202 253);
  --md-sys-color-on-tertiary-fixed-variant: rgb(0 18 37);
  --md-sys-color-surface-dim: rgb(14 20 21);
  --md-sys-color-surface-bright: rgb(75 81 82);
  --md-sys-color-surface-container-lowest: rgb(0 0 0);
  --md-sys-color-surface-container-low: rgb(27 33 34);
  --md-sys-color-surface-container: rgb(43 49 51);
  --md-sys-color-surface-container-high: rgb(54 60 62);
  --md-sys-color-surface-container-highest: rgb(66 72 73);
  --md-extended-color-custom-color1-color: rgb(255 239 191);
  --md-extended-color-custom-color1-on-color: rgb(0 0 0);
  --md-extended-color-custom-color1-color-container: rgb(217 194 106);
  --md-extended-color-custom-color1-on-color-container: rgb(15 11 0);
}
